body {
  width: 393px;
  height: 852px;
  position: relative;
  margin: 15px auto;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
  font-family: "Zen Kaku Gothic New", sans-serif;
}

/* ヘッダー */

header {
  background-color: #bae97e;
  width: 100%;
  height: 15%;
  margin: 0;
  border-bottom: 3px solid black;
  display: flex;
  justify-content: space-between;
}
header div img {
  margin: 60px 0 0 25px;
  height: 50px;
}
header .h_text {
  height: 50px;
  margin: 60px 25px 0 0;
}
header .h_text h1 {
  margin: 0;
  font-size: 27px;
  text-align: right;
}
header .h_text h2 {
  margin: 0;
  font-size: 12px;
  text-align: right;
}

/* タブメニュー */
nav ul {
  padding-left: 0;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 5%;
  display: flex;
  width: 100%;
  height: 7%;
}

nav li {
  width: 20％;
  text-align: center;
  border-top: solid 2px black;
  font-weight: bold;
  padding-top: 3px;
}

.navilip {
  margin-top: -5px;
}

/* フッター*/
footer {
  background-color: #bae97e;
  width: 100%;
  height: 7%;

  position: absolute;
  bottom: 0;
  text-align: center;
  border-top: solid 2px black;
}

/* ホーム画面 */
main {
  background-color: #d6ebbb;
  z-index: 1;
  width: 100%;
  height: 603px;
  /* overflow: scroll;
  overflow-x: hidden; */
  /* min-width: 320px; */
  /* min-height: 480px; */
  /* position: relative; */

  /*  */
  font-family: "Zen Kaku Gothic New", sans-serif;
}

main .topimage {
  background-image: url(./img/company1.jpeg);
  background-size: cover;
  background-position: 0 50%;
  width: 100%;
  height: 250px;
  margin: 0;
}

main .schedule {
  background-color: white;
  position: relative;
  z-index: 25;
  width: 90%;
  height: 90px;
  display: flex;
  align-items: center;
  margin: -125px auto 0 auto;
  /* margin: 0 auto; */
  /* padding: 20px 0; */
  border-radius: 10px;
  border: solid 2px black;
  box-shadow: 5px 5px 0 #546939;
  /* position: relative; */
}
main .schedule::before {
  content: "";
  /* position: absolute; */
  background-color: #bae97e;
  width: 10px;
  height: 90px;
  border-radius: 10px 0 0 10px;
  border-right: solid 2px black;
}
main .schedule img {
  width: 50px;
  height: 50px;
  margin: 0 0 0 20px;
  object-fit: cover;
  border-radius: 50px;
  box-shadow: 0 0 0 3px white, 0 0 0 4px black;
}
main .schedule p {
  /* background-color: #00000025; */
  font-size: 17.5px;
  font-weight: bolder;
  margin: 0 0 0 20px;
}
/* main div {
  margin: 0;
} */

/* ホーム画面 */
main .content {
  background-color: white;
  z-index: 0;
  width: 99%;
  height: 430px;
  margin: -50px 0;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border: solid 2px black;
}
.content .con_tab {
  background-color: #e6f3d5;
  position: relative;
  z-index: 10;

  width: 100%;
  height: 125px;
  margin: 20% 0 0 0;
  /* border: solid 1px black; */
  border-top: solid 1px black;
  border-bottom: solid 1px black;
  display: flex;
  justify-content: space-around;
  text-align: center;
}
.content .con_tab .con_tab_menu {
  /* background-color: #00000025; */
  width: 30%;
  height: 100%;
  margin: 0;
  /* display: flex;
  justify-content: center; */
  text-align: center;
}
.content .con_tab .con_tab_menu div {
  width: 35px;
  height: 35px;
  background-color: white;
  margin: 20% auto 0 auto;
  padding: 10%;
  border-radius: 50%;
  border: solid 2px black;
}
.content .con_tab .con_tab_menu img {
  width: 100%;
}
.content .con_tab .con_tab_menu p {
  margin: 0;
  font-weight: bold;
}

.content .con_kari1 {
  background-color: #bae97e;
  position: relative;
  z-index: 1;

  width: 100%;
  height: 100px;
}
.content .con_kari2 {
  background-color: #e6f3d5;
  width: 100%;
  height: 130px;
  border-top: solid 1px black;
  border-bottom: solid 1px black;
}

/*  トーク取引一覧 */
.screen1 {
  width: 100%;
  height: 603px;
  overflow: scroll;
  overflow-x: hidden;
}
.torihikiaite {
  font-size: 20px;
  font-weight: 1000;
  border-bottom: solid 1px black;

  padding: 10px 30px;
}
/*  友達一人のまとまり */
/* .torihiki {
  width: 92%;
  padding: 15px;
  display: flex;
  justify-content: baseline;
  border-bottom: solid 1px black;
}
.topimg {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  padding: 3px;
  border: solid 2px black;
  margin-right: 20px;
}
.torihiki p {
  font-size: 20px;
  font-weight: 1000;
} */

/* トーク画面 */

.scroll_lists_t {
  width: 100%;
  height: 553px;
  overflow: scroll;
  overflow-x: hidden;
}
.scroll_lists {
  width: 100%;
  height: 603px;
  overflow: scroll;
  overflow-x: hidden;
}
/*  友達一人のまとまり */
.torihiki {
  width: 92%;

  padding: 15px;
  display: flex;
  justify-content: baseline;
  border-bottom: solid 1px black;
}
.topimg {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  padding: 3px;
  border: solid 2px black;
  margin-right: 20px;
}
.torihiki p {
  font-size: 20px;
  font-weight: 1000;
}

/*  メッセージ左 */
.messehidari {
  padding: 20px;
  display: flex;
  justify-content: baseline;
  align-items: center;
  margin-bottom: -30px;
}
.messeimg {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  padding: 1px;
  border: solid 1px black;
  margin-right: 20px;
}
.balloon2-left {
  position: relative;
  display: inline-block;
  margin: 1.5em 0 1.5em 15px;
  padding: 7px 10px;
  min-width: 120px;
  max-width: 100%;
  color: black;
  font-size: 16px;
  background: #fff;
  border: solid 2px black;
  box-sizing: border-box;
  border-radius: 10px;
}

.balloon2-left:before {
  content: "";
  position: absolute;
  top: 50%;
  left: -24px;
  margin-top: -12px;
  border: 12px solid transparent;
  border-right: 12px solid #fff;
  z-index: 2;
}

.balloon2-left:after {
  content: "";
  position: absolute;
  top: 50%;
  left: -29px;
  margin-top: -14px;
  border: 14px solid transparent;
  border-right: 15px solid black;
  z-index: 1;
}

.balloon2-left p {
  margin: 0;
  padding: 0;
  font-weight: 800;
}

/*  メッセージ右 */
.messemigi {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: -30px;
  margin-left: 20px;
}

.balloon2-right {
  position: relative;
  display: inline-block;
  margin: 1.5em 15px 1.5em 0;
  padding: 7px 10px;
  min-width: 120px;
  max-width: 100%;
  color: black;
  font-size: 16px;
  background: #bae97e;
  border: solid 2px black;
  box-sizing: border-box;
  margin-right: 20px;
  border-radius: 10px;
}

.balloon2-right:before {
  content: "";
  position: absolute;
  top: 50%;
  right: -27px;
  margin-top: -14px;
  border: 14px solid transparent;
  border-left: 14px solid #bae97e;
  z-index: 2;
}

.balloon2-right:after {
  content: "";
  position: absolute;
  top: 50%;
  right: -30px;
  margin-top: -14px;
  border: 14px solid transparent;
  border-left: 15px solid black;
  z-index: 1;
}

.balloon2-right p {
  margin: 0;
  padding: 0;
  font-weight: 800;
}

/* 送信 */
.sousin {
  display: flex;
  justify-content: baseline;

  background-color: #546939;
  height: 50px;
  border-top: solid 1px black;
}
.sousin input {
  width: 75%;
  height: 25px;
  margin-top: 10px;
  margin-left: 3%;
  margin-right: 3%;
  border-radius: 100px;
}

/* 予約状況イベント一覧 */

#eventran {
  font-size: 20px;
  font-weight: 1000;
  border-bottom: solid 1px black;

  padding: 10px 30px;
}

.eventtorihiki {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding: 15px;
  display: flex;
  justify-content: baseline;
  align-items: center;
  border-left: solid 10px #bae97e;
  border-radius: 10px;
  box-shadow: 0 10px 25px 0 rgba(0, 0, 0, 0.5);
  margin-bottom: 25px;
}
.topimg {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  padding: 3px;
  border: solid 2px black;
  margin-right: 20px;
}
.eventtext {
  font-size: 20px;
  font-weight: 1000;
}

/* 予約状況詳細 */
.eventnavi {
  margin-top: 10px;
  font-size: 20px;
  font-weight: 1000;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.sirusi {
  margin-left: 10px;
  margin-right: 15px;
  font-size: 25px;
  font-weight: 500;
  text-align: center;
  width: 35px;
  height: 35px;
  border: solid 2px black;
  border-radius: 50%;
  box-shadow: 3px 3px 0px 0 #bae97e;
}
.yoyaku {
  margin-top: 10px;
  text-align: center;
  font-size: 20px;
  font-weight: 1000;
}
.uniform {
  margin: 0 auto;
  padding: 3px;
  width: 40%;
  font-size: 16px;
  border: solid 1.5px black;
  border-radius: 20px;
  box-shadow: 3px 3px 0px 0 #f0d441;
  margin-bottom: 50px;
}

.yotei {
  font-size: 16px;
  font-weight: 1000;
  width: 70%;
  margin: 20px auto;
  padding: 3px;
  border: solid 1.5px black;
  border-left: solid 10px #bae97e;
  border-radius: 10px;
  text-align: center;
}
/* 制服一覧 */
.seihukuichiran {
  width: 100%;
  height: 603px;
  overflow: scroll;
  overflow-x: hidden;
}
.seihukuran {
  font-size: 20px;
  font-weight: 1000;
  border-bottom: solid 1px black;
  padding: 10px 30px;
}
.seihukuone {
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 30px;
  margin-right: 30px;
  font-weight: 1000;
  border-bottom: 1px black solid;
}
.seihukuone img {
  width: 100px;
  height: 100px;
}

/* ニュース画面 */
.news {
  height: 603px;
  overflow: scroll;
  overflow-x: hidden;
  list-style: none;
}
.newsran {
  font-size: 20px;
  font-weight: 1000;
  border-bottom: solid 1px black;
  padding: 10px 30px;
}

.newsran2 {
  font-size: 20px;
  font-weight: 1000;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  border-bottom: solid 1px black;
  margin-top: 10px;
}

.newstopmoji {
  width: 80%;
}
.newstab {
  display: flex;
  justify-content: left;
  margin-left: 40px;
}
.newstab p {
  margin-right: 30px;
  border-bottom: 1px solid black;
}
.news1matomari {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.bookmark {
  width: 30px;
  height: 30px;
  padding: 10px;
  border-radius: 10%;
}

.now {
  background-color: #e6f3d5;
}

.okiniiriran {
  text-align: center;
  font-size: 16px;
  margin-top: 3px;
  font-weight: 1000;
}

/* その他 */
.sonotop {
  width: 100px;
  height: 100px;
  border: solid 2px black;
  border-radius: 100%;
  margin-top: 40px;
  margin-left: 37%;
  margin-right: 40%;
}
.info h3 {
  margin-left: 10%;
}
.info p {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  border: solid 1px black;
  padding: 3px;
  padding-left: 10px;
  border-radius: 50px;
}
.settei {
  display: flex;
  justify-content: left;
  align-items: center;
  font-size: 20px;
  font-weight: 1000;
  margin-left: 9%;
}
.settei img {
  width: 40px;
  height: 40px;
  margin-right: 20px;
}
